.item-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 3px 3px 0px #0000002e;
	justify-content: center;
	border-radius: 8px;
	transition: 0.3s;
}

.item-card:hover {
	transform: scale(1.1);
}

.item-card img {
	width: 12rem;
	border-radius: 8px;
}

.item-card .item-name {
	font-weight: 600;
}

.item-card .item-name,
.item-card .item-price {
	margin: 0;
	margin-top: 1em;
}

.item-card button {
	margin-top: 1em;
	margin-bottom: 1em;
	color: #3f3f3f;
	background-color: #f7d372;
	border: none;
	box-shadow: 0 3px 3px 0px #0000002e;
	padding: 0.75rem 2.5rem;
	border-radius: 8px;
	cursor: pointer;
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

.item-card button:hover {
	background-color: #f7c847;
}
