.nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	position: fixed;
	width: -webkit-fill-available;
	width: -moz-available;
	background-color: white;
	top: 0;
	z-index: 5;
}

.nav a {
	text-decoration: none;
	color: #3f3f3f;
}

.nav .logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav a h1 {
	margin: 0;
	font-weight: 600;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1rem 0;
}

.nav ul li {
	display: inline;
	margin-left: 4rem;
	font-size: 1.25rem;
}

.cart-nav {
	display: inline;
	position: relative;
}

.cart-nav span {
	position: absolute;
	bottom: 15px;
	left: 16px;
	background: #f7d372;
	font-size: 1rem;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	text-align: center;
}

.active {
	border-bottom: solid 6px #f05050;
}
